@charset "utf-8";

.wrap{
    width:100%;
    margin:30px auto 0 auto;
    box-sizing:border-box;
    overflow:hidden;
}

/* header_menu */
.header_menu{
    width:90%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

/* big_menu */
.big_menu{
    display:flex;
}
.big_menu li{
    font-size:25px;
    padding:40px;
}

/* small_menu */
.small_menu{
    display:flex;
}
.small_menu li{
    margin-right:20px;
}
.small_menu li:first-child{
    color:gray;
    width:75px;
    height:35px;
    font-size:20px;
    border:3px solid #eaeaea;
    border-radius:50%;
    text-align:center;
    line-height:30px;
}
.small_menu li:last-child{
    margin-right:0px;
}

/* short_menu_wrap */
.short_menu_wrap{
    display:none;
    position:relative;
    width:100%;
    z-index:1;
    border:1px solid blue;
}

.short_menu img{
    display:none;
    width:10%;
    background-color:red;
    position:absolute;
    right:0;

}
.short_menu ul{
    display:none;
    width:90%;
    position:absolute;
    left:0;
    background-color:yellow;
    text-align:center;
} 










/* 반응형 */

@media screen and (max-width:360px){
    
}

@media screen and (min-width:360px) and (max-width:768px){
    .big_menu{
        display:none;
    }
    .small_menu{
        display:none;
    }
    .short_menu_wrap{
        display:block;
    }
    .short_menu img{
        display:block;
    }


    .video_wrap{
        display:none;
    }
}

